.App {
  text-align: center;
}

.App-header {
  background-color: #6f3a74;
  min-height: 10vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  color: white;
}

.App-title {
  flex: 3 1 50%;
  font-size: 3rem;
  font-weight: bold; 
}

.App-login {
  flex: 1 1 auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.content {
  padding: 2rem 3rem;
}

.profile {
  margin: .3rem;
}

.name {
  display: inline-block;
}

.avatar {
  border-radius: 50%;
}
